<a href="https://colab.research.google.com/github/upeast/Lee2/blob/main/week6%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1번문제

In [7]:
import pandas as pd

# CSV 파일 로드
data = pd.read_csv("/content/Social_Network_Ads.csv")
print(data)

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

2번문제

In [8]:
import numpy as np

X = data[['Age', 'EstimatedSalary']].values  # x1 = Age, x2 = EstimatedSalary
y = data['Purchased'].values.reshape(-1, 1)  # y = Purchased

print("X shape:", X.shape)
print("y shape:", y.shape)

X shape: (400, 2)
y shape: (400, 1)

3번문제

In [9]:
from sklearn.model_selection import train_test_split

# X, y는 앞에서 정의한 특성과 정답 데이터
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 데이터 개수 확인
print("훈련 데이터 개수:", len(X_train))
print("테스트 데이터 개수:", len(X_test))

훈련 데이터 개수: 320
테스트 데이터 개수: 80